usersandgroups:
  # you can change default configuration from map.jinja here
  #lookup:
  #  home_base: '/home/users'

  # groups can be explicitely defined here
  #groups:
  #  foogroup:
  #    gid: 1100

  # users are defined here
  users:
    foo:
      password: $6$...

    bar:
      password: $6$...
      home: /srv/users/bar
      gid: users
      groups:
        - group1
        - group2

