# example of pillar configuration to use with the usersandgroups formula

usersandgroups:
  # you can change default configuration from map.jinja here
  #lookup:
  #  home_base: '/home/users'

  # you can also define additional global configuration
  #config:
    #ssh_pubkeys_dir: salt://ssh_keys/
    #files:
    #  enabled: True
    #  source: salt://users_files/
    #  default_source: salt://users_files/_default/

  # groups can be explicitely defined here
  #groups:
  #  foogroup:
  #    gid: 1100
  #    system: True

  # users are defined here
  users:
    # minimal configuration
    foo: {}

    # all available options
    bar:
      password: $6$...
      home: /srv/users/bar
      primary_group: users
      shell: /bin/zsh
      system: True
      groups:
        - group1
        - group2
      optional_groups:
        - opt_group1
      ssh_pubkey:
        # uncomment to not manage ssh pubkey
        #- absent: True
        - source: salt://ssh_pubkey/foo.pub
      #files:
        #enabled: True
        #source: salt://users_file/user/

  # absent groups are defined here
  #absent_groups:
  #  - foogroup1
  #  - foogroup2

  # absent users here
  #absent_users:
  #  - foo1
  #  - bar1
