# example of pillar configuration to use with the usersandgroups formula

usersandgroups:
  # you can change default configuration from map.jinja here
  #lookup:
    # don't forget trailing slash
    #home_base: '/home/users/'

  # you can also define additional global configuration
  #config:
    #ssh_pubkeys_dir: salt://ssh_keys/

    # files management is disabled by default
    # if you want to enable globally, just define them
    #files:
      # home management
      #home:
        # home files will be picked in a sub directory named by its username
        #source: salt://users_files/
        # a common default source can also be used
        #default_source: salt://users_files/_default/
        # delete absent_users' files
        #purge: False
    #  remove_groups: False

  # groups can be explicitely defined here
  #groups:
  #  foogroup:
  #    gid: 1100
  #    system: True

  # users are defined here
  users:
    # minimal configuration
    foo: {}

    # all available options
    bar:
      password: $6$...
      home: /srv/users/bar
      primary_group: users
      shell: /bin/zsh
      system: True
      remove_groups: False
      groups:
        - group1
        - group2
      optional_groups:
        - opt_group1
      ssh_pubkey:
        # uncomment to not manage ssh pubkey
        #- manage: False
        # or specify one or more sources
        - sources:
           - salt://ssh_pubkey/foo.pub
           - salt://ssh_pubkey/bar.pub
      # you can enable or disable files management per user
      #files:
        # and define its home directory too
        #home:
          #source: salt://users_file/user/
        # you can also manage other files in the home directory
        #ssh:
          #source: salt://users_files/foo/.ssh
          # destination is relative to home directory
          #destination: .ssh
          # you can define options here, some are already set by default
          #options:
            #dir_mode: 700
            #file_mode: 600

  # absent groups are defined here
  #absent_groups:
  #  - foogroup1
  #  - foogroup2

  # absent users here
  #absent_users:
  #  - foo1
  #  - bar1
